{% extends 'layout.html' %}

{% block body %}

<div class="container col-md-4 offset-md-4">

  <br><br><br>
  <h3>If you want to create an app</h3>
  <form method="POST" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" id="validationCustom01" placeholder="Entry an album name" required>
        <div class="valid-feedback">
          Good album name!
        </div>
        <div class="invalid-feedback">
          Please entry an album name!
        </div>
      </div>

      </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          I really agree that I want to create an album.
        </label>
        <div class="invalid-feedback">
          Please really agree.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>

  <br>
  <hr>
  <h4 style="color:blue"> Your Album Feed </h4>
  <br>

 <!-- Albums list. -->
  <ul class="list-group">
  {% for album in albums %}
    {% if album.owner == owner %}
      <li class="list-group-item">
        <div class="card col-md-4 offset-md-4" >
          <img class="card-img-top" src="../static/photos/bird-photo 750 x 530" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{album.id}}</h5>
            <p class="card-text">{{album.name}}</p>
            <a href="albums/"{{albums.id}} class="btn btn-primary">Go to Album</a>
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
  </ul>

</div>



<script>

// For disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

</script>

{% endblock %}

