{% extends 'Layout.html' %}

{% block body %}


<div class="container col-md-4 offset-md-4">



  <hr>
  <h4 style="color:blue"> Your Search results:</h4>
  <br>

 <!-- Albums list. -->
  <ul class="list-group">
  {% for photo in photos %}
      <li class="list-group-item">
        <div class="card col-md-4 offset-md-4" >
          <img class="card-img-top" src={{photo.photo_path}} alt="Card image cap">
          <div class="card-body">
              {%  for tag in photo.tags %}
                <h5 class="card-title">{{tag.tag_desc}}</h5>
              {% endfor %}
            <p class="card-text">Uploaded by, {{photo.uploaded_by}} _ Date: {{photo.upload_date}}</p>
{#            <a href="albums/"{{albums.id}} class="btn btn-primary">Go to Album</a>#}
          </div>
        </div>
      </li>
  {% endfor %}
  </ul>

</div>



<script>

// For disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

</script>

{% endblock %}
